In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("kiva_loans.csv")
df.head()

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
0,653051,300.0,300.0,Fruits & Vegetables,Food,"To buy seasonal, fresh fruits to sell.",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:12:39+00:00,2013-12-17 08:00:00+00:00,2014-01-02 10:06:32+00:00,12.0,12,NaN,female,irregular,2014-01-01
1,653053,575.0,575.0,Rickshaw,Transportation,to repair and maintain the auto rickshaw used ...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:51:08+00:00,2013-12-17 08:00:00+00:00,2014-01-02 09:17:23+00:00,11.0,14,NaN,"female, female",irregular,2014-01-01
2,653068,150.0,150.0,Transportation,Transportation,To repair their old cycle-van and buy another ...,IN,India,Maynaguri,INR,334.0,2014-01-01 09:58:07+00:00,2013-12-17 08:00:00+00:00,2014-01-01 16:01:36+00:00,43.0,6,"user_favorite, user_favorite",female,bullet,2014-01-01
3,653063,200.0,200.0,Embroidery,Arts,to purchase an embroidery machine and a variet...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 08:03:11+00:00,2013-12-24 08:00:00+00:00,2014-01-01 13:00:00+00:00,11.0,8,NaN,female,irregular,2014-01-01
4,653084,400.0,400.0,Milk Sales,Food,to purchase one buffalo.,PK,Pakistan,Abdul Hakeem,PKR,245.0,2014-01-01 11:53:19+00:00,2013-12-17 08:00:00+00:00,2014-01-01 19:18:51+00:00,14.0,16,NaN,female,monthly,2014-01-01

In [3]:
df.isnull().sum()

id                         0
funded_amount              0
loan_amount                0
activity                   0
sector                     0
use                     4232
country_code               8
country                    0
region                 56800
currency                   0
partner_id             13507
posted_time                0
disbursed_time          2396
funded_time            48331
term_in_months             0
lender_count               0
tags                  171416
borrower_genders        4221
repayment_interval         0
date                       0
dtype: int64

In [8]:
df.loc[df["borrower_genders"].isnull(), "borrower_genders"] = "not"

In [16]:
df = df.drop(["country_code","region","partner_id","tags"], axis=1)

In [21]:

df.dropna(subset=["use"], inplace=True)

In [22]:
time = ["posted_time","disbursed_time","funded_time"]

for i in time:
    df[i] =  pd.to_datetime(df[i])

In [26]:
df["use"] = df["use"].apply(lambda x: x.lower())
df["repayment_interval"] = df["repayment_interval"].apply(lambda x: x.capitalize())

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 666973 entries, 0 to 671204
Data columns (total 16 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  666973 non-null  int64
 1   funded_amount       666973 non-null  float64
 2   loan_amount         666973 non-null  float64
 3   activity            666973 non-null  object
 4   sector              666973 non-null  object
 5   use                 666973 non-null  object
 6   country             666973 non-null  object
 7   currency            666973 non-null  object
 8   posted_time         666973 non-null  datetime64[ns, UTC]
 9   disbursed_time      664997 non-null  datetime64[ns, UTC]
 10  funded_time         619330 non-null  datetime64[ns, UTC]
 11  term_in_months      666973 non-null  float64
 12  lender_count        666973 non-null  int64
 13  borrower_genders    666973 non-null  object
 14  repayment_interval  666973 non-null  object
 15  date                666973 non-null  object
dtypes: datetime64[ns, UTC](3), float64(3), int64(2), object(8)
memory usage: 86.5+ MB

In [28]:
df.to_csv("kiva_processed3.csv", index=False)